body{
    background-image: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.95)), url('../images/happy_job.jpg');
    background-size: cover;
}

textarea::placeholder{
    /* position: absolute;
    bottom: 5%;
    right:5%; */
    font-size: larger;
}